@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "成绩查询";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    List<VMemberExamResult> exams = ViewBag.List;
}

<h2>成绩查询</h2>
<table class="table">
    <tr>
        <th>考试项目</th>
        <th>考试结果</th>
    </tr>
    @foreach (var exam in exams)
    {
        <tr>
            <td>@(exam.ExamName)</td>
            <td>@(exam.Result?"通过":"未通过")</td>
        </tr>
    }
</table>
