@using Loowoo.LandInst.Model
@{
    AnnualCheck model = ViewBag.Model;
    ViewBag.Title = model.ID > 0 ? "修改年审" : "添加年审";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form id="annualcheck-form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">名称</label>
        <div class="col-sm-3">
            <input type="text" name="Name" class="form-control input-sm" value="@(model.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">起始时间</label>
        <div class="col-sm-3">
            <input type="text" name="StartDate" class="form-control input-sm datepicker" value="@(model.ID == 0 ? "" : model.StartDate.ToShortDateString())" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">结束时间</label>
        <div class="col-sm-3">
            <input type="text" name="EndDate" class="form-control input-sm datepicker" value="@(model.ID == 0 ? "" : model.EndDate.ToShortDateString())" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">简介</label>
        <div class="col-sm-6">
            <textarea name="summary" class="form-control input-sm" rows="5">@(model.Summary)</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>

</form>
<script>
    $(function () {
        $(".datepicker").datepicker();

        $("#annualcheck-form").submit(function () {
            var data = $(this).serialize();
            $.post("/admin/annual/edit?id=@(model.ID)", data, function (json) {
                if (json.result) {
                    alert("保存成功");
                    window.location.href = "/admin/annual/";
                }
            }, "json");
            return false;
        });
    });
</script>
