@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section nav{
    <ul class="nav navbar-nav">
        <li><a href="/admin/">欢迎页</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">机构 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/institution/"><i class="glyphicon glyphicon-search"></i> 查询机构</a></li>
                <li><a href="/admin/institution/edit"><i class="glyphicon glyphicon-plus"></i> 添加新机构</a></li>
                <li class="divider"></li>
                <li><a href="/admin/institution/checkProfile">注册登记/资料变更审批</a></li>
                <li><a href="/admin/institution/checkAnnual">机构年审</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">会员 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/member/">会员查询</a></li>
                <li class="divider"></li>
                <li><a href="/admin/member/practices">执业登记审批</a></li>
                <li class="divider"></li>
                <li><a href="/admin/transfer/approvals">会员机构转移审批</a></li>
                <li class="divider"></li>
                <li><a href="/admin/member/import">导入会员</a></li>
                <li><a href="/admin/member/resetpwd">密码重置</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">考试 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/exam/approvals">考试报名审批</a></li>
                <li><a href="/admin/exam/examresult">考试成绩管理</a></li>
                <li><a href="/admin/exam/import">批量导入成绩</a></li>
                <li class="divider"></li>
                <li><a href="/admin/exam/">考试管理</a></li>
                <li><a href="/admin/exam/edit"><i class="glyphicon glyphicon-plus"></i> 添加考试</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">继续教育 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/education/approvals">继续教育审批</a></li>
                <li class="divider"></li>
                <li><a href="/admin/education/">继续教育管理</a></li>
                <li><a href="/admin/education/edit"><i class="glyphicon glyphicon-plus"></i> 添加继续教育</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">年审 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/admin/annual/">年审管理</a></li>
                <li><a href="/admin/annual/edit"><i class="glyphicon glyphicon-plus"></i> 添加年审</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signout">退出</a></li>
    </ul>
}
@RenderBody()
