@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">浙江土地机构管理平台</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/admin/">欢迎页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">机构 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/institution/edit">添加新机构</a></li>
                    <li><a href="/admin/institution/index?type=register">机构注册登记审批</a></li>
                    <li><a href="/admin/institution/index?type=change">机构资料变更审批</a></li>
                    <li><a href="/admin/institution/annual">机构年审</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/exam/approvals">考试报名审批</a></li>
                    <li><a href="/admin/exam/examresult">考试成绩管理</a></li>
                    <li><a href="/admin/member/staff">从业登记审批</a></li>
                    <li><a href="/admin/member/transfer">会员机构转移</a></li>
                    <li><a href="/admin/education/approvals">继续教育审批</a></li>
                    <li><a href="/admin/member/import">导入会员</a></li>
                    <li><a href="/admin/member/resetpwd">密码重置</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/annual/">年检设置</a></li>
                    <li><a href="/admin/exam/">考试设置</a></li>
                    <li><a href="/admin/education/">继续教育设置</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/signout">退出</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</div>

