@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "会员转入申请";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    MemberProfile member = ViewBag.MemberProfile; 
}

<form id="transfer-form" role="form" class="form-horizontal" method="post">
    <input type="hidden" name="mode" value="@((int)TransferMode.In)" />
    @Html.Partial("_MemberProfile",member)
    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-sm-3">
            <input type="submit" value="转入会员到本机构" class="btn btn-success" />
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#transfer-form").submit(function () {
            var data = $(this).serialize();
            if (!confirm("确认提交此次转入申请？")) return false;

            $.request("/institution/member/transfer?" + data, null, function (json) {
                alert("申请转入操作成功，等待管理员审核");
                window.location.href = "/institution/member/transfers";
            });
            return false;
        });

    });
</script>
