@using Loowoo.LandInst.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Member member = ViewBag.Member;
}
@section nav{
    <ul class="nav navbar-nav">
        @if(member.Status ==  MemberStatus.Normal)
        {
            <li><a href="/member/exam/signup">报名考试</a></li>
        }
        else
        {
            <li class="active"><a href="/member/">欢迎页</a></li>
            <li><a href="/member/profile/edit">个人资料</a></li>
            <li><a href="/member/exam/">成绩查询</a></li>
            <li><a href="/member/education/">继续教育</a></li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signout">退出</a></li>
    </ul>

}
@RenderBody()
