@using Loowoo.LandInst.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Member member = ViewBag.Member;
}
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/member/">欢迎页</a></li>
            <li><a href="/member/profile/">个人资料</a></li>
            @if (member.Status == MemberStatus.Staff)
            {
                <li><a href="/member/profile/edit">信息变更</a></li>
            }
            @if (member.Status == MemberStatus.Register)
            {
                <li><a href="/member/exam/signup">报名考试</a></li>
            }
            else
            {
                <li><a href="/member/exam/">成绩查询</a></li>
                <li><a href="/member/education/">继续教育</a></li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/signout">退出</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</div>

