@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form id="signupexam-form" role="form" class="form-horizontal" method="post">
    <label class="control-label">姓名</label>
    <input type="text" name="Realname" class="form-control input-sm" />
    <label class="control-label">民族</label>
    <input type="text" name="Nationality" class="form-control input-sm" />
    <label class="control-label">籍贯</label>
    <input type="text" name="NativePlace" class="form-control input-sm" />
    <button type="submit" class="btn btn-primary">提交注册</button>

</form>