@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    Institution inst = ViewBag.Inst;
    CheckLog checkLog = ViewBag.CheckLog;
    InstitutionProfile profile = ViewBag.Profile;
    //如果没有提交注册申请，则不能干任何事情，只能提交申请通过后才可以
    if (inst.Status == InstitutionStatus.Normal)
    {
        ViewBag.IsRegister = true;
        ViewBag.Title = "提交注册登记";
        Html.RenderPartial("_ProfileForm");
        return;
    }

    ViewBag.Title = "欢迎 " + inst.Name + " 登录系统。";
    AnnualCheck annualCheck = ViewBag.AnnualCheck;
    List<CheckLog> history = ViewBag.History;
}
@if (annualCheck != null)
{ 
    <legend>年检提醒</legend>
    <table class="table table-bordered">
        <tr>
            <th style="width: 100px;">年度</th>
            <td>@(annualCheck.Name)</td>
        </tr>
        <tr>
            <th>年检时间</th>
            <td>@(annualCheck.StartDate.ToShortDateString()) ~ @(annualCheck.EndDate.ToShortDateString())</td>
        </tr>
        <tr>
            <th>简介</th>
            <td>
                @(annualCheck.Summary)
            </td>
        </tr>
    </table>
    <a href="/Institution/Profile/AnnualCheck" class="btn btn-primary">立即申请年检</a>
}

<legend>业务处理</legend>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-list-alt"></i>&nbsp;<a href="/Institution/Profile/Edit">资料变更</a></p>
        <small>修改您的企业资料、技术人员、仪器设备、股东信息、联系方式等。</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-time"></i>&nbsp;<a href="/institution/profile/history">历史信息</a></p>
        <small>查看机构所提交的申请历史记录和历史版本信息。</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-check"></i>&nbsp;<a href="/institution/profile/edit?type=annualcheck">申请年检</a></p>
        <small>每年一度的年检资料审核。</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-edit"></i>&nbsp;<a href="/user/editpassword">修改密码</a></p>
        <small>如果您没有修改过密码，建议你修改为自己的安全密码。</small>
    </blockquote>
</div>