@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "会员首页";
    Member member = ViewBag.Member;
    Institution institution = ViewBag.Institution;
    MemberProfile profile = ViewBag.Profile;
    if (member.Status == MemberStatus.Normal)
    {
        bool registeredExam = ViewBag.RegisteredExam == null ? false : ViewBag.RegisteredExam;
        if (registeredExam)
        {
            //已报名，成绩查询
            Response.Redirect("/member/exam/result");
            return;
        }
        else
        {
            //报名考试
            Response.Redirect("/member/exam/signup");
        }
        return;
    }
}
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/member/profile/edit">个人资料</a></p>
        <small>真实姓名：@(member.RealName) &nbsp; &nbsp;所属机构：@(institution == null ? "无机构" : institution.Name) &nbsp; &nbsp;当前状态：@(member.Status.GetDescription())</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-pencil"></i>&nbsp;<a href="/member/exam/">查询成绩</a></p>
        <small>如果你已经通过了报名考试申请，你可以查询考试成绩</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-book"></i>&nbsp;<a href="/member/education">继续教育</a></p>
        <small>如果你已经加入了某机构，可以查询机构为你申请的继续教育信息。</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-list-alt"></i>&nbsp;<a href="/member/profile/practice/">执业信息</a></p>
        <small>如果你已经加入了某机构，可以查询机构为你申请的执业登记信息。</small>
    </blockquote>
</div>
