<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=10.22.103.12;Database=guihua;Uid=root;Pwd=Ztop123$%^;" />
    <add name="default2" connectionString="Server=192.168.199.152;Database=kance;Uid=root;Pwd=Ztop123$%^;" />

  </connectionStrings>
  
<startup><supportedRuntime version="v2.0.50727" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
