@{
    ViewBag.Title = "ResetPwd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>重置密码</h2>
<form id="member-resetpwd-form" role="form" class="form-horizontal">
    <label class="control-label">搜索用户名、姓名</label>
    <input type="text" name="username" class="form-control input-sm" />
    <input type="button" value="查询" class="btn btn-primary" />

    <label class="control-label">选择查询结果</label>
    <select class="form-control">
    </select>

    <input type="button" value="重置为随机密码" class="btn btn-primary" />

</form>
