@{
    ViewBag.Title = "会员机构转移";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>会员机构转移</h2>
<form id="transfer-form" role="form" class="form-horizontal">
    <label class="control-label">搜索用户</label>
    <div class="form-group">
    <input type="text" name="realname" class="form-control input-sm" />
    <input type="button" class="btn btn-default" value="搜索" />
        </div>
    <label class="control-label">选择用户</label>
    <select class="form-control" name="memberId"></select>

    <label class="control-label">搜索机构</label>
    <input type="text" name="instname" class="form-control input-sm" />
    <label class="control-label">选择机构</label>
    <select class="form-control" name="instId"></select>

    <button class="btn btn-primary">确认转移</button>
</form>

