@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "鉴证资格管理";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    InstitutionProfile profile = ViewBag.Profile;
}
<form class="form-inline search-form">
    <div class="col-lg-8">
        <a href="/institution/certification/edit" class="btn btn-primary">添加鉴证资格</a>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>名称</th>
        <th>证书编号</th>
        <th>证书级别</th>
        <th style="width:100px;">管理</th>
    </tr>
    @foreach (var item in profile.Certifications)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.CertificationNo)</td>
            <td>@(item.CertificationLevel)</td>
            <td>
                <a href="/institution/shareholder/edit?id=@(item.ID)" class="btn btn-xs btn-primary">编辑</a>
                <a href="/institution/shareholder/delete?id=@(item.ID)" class="btn btn-xs btn-danger">删除</a>
            </td>
        </tr>
    }
</table>
