@{
    ViewBag.Title = "信息变更";
    Layout = "_Layout.cshtml";
}

<h2>信息变更</h2>
<form id="editprofile-form" role="form" class="form-horizontal" method="post">
    <table>
        <tr>
            <td>
                <label>姓名</label>
                <input type="text" name="Realname" class="form-control" />
            </td>
            <td>
                <label>民族</label>
                <input type="text" name="Nationality" class="form-control" />
            </td>
            <td>
                <label>籍贯</label>
                <input type="text" name="NativePlace" class="form-control" />
            </td>
        </tr>
    </table>
</form>
