@{
    ViewBag.Title = "信息变更";
    Layout = "_Layout.cshtml";
}

<h2>信息变更</h2>
<form id="editprofile-form" role="form" class="form-horizontal" method="post">
    
    机构变更：
    当前机构：
    变更机构：

    资料变更：

</form>
