@{
    ViewBag.Title = "欢迎页";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-6">
<blockquote>
    <p><i class="glyphicon glyphicon-search"></i>&nbsp;<a href="/admin/institution/">机构查询</a></p>
    <small>您可以查询机构进行资料变更审核、资料查看等。</small>
</blockquote>
</div>

<div class="col-lg-6">
<blockquote>
    <p><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="/admin/member/">会员查询</a></p>
    <small>您可以查询会员进行培训报名审核、资料查看、转入转出、执业审核等。</small>
</blockquote>
</div>

<div class="col-lg-6">
<blockquote>
    <p><i class="glyphicon glyphicon-pencil"></i>&nbsp;<a href="/admin/exam/approvals">培训管理</a></p>
    <small>您可以添加、修改、删除培训信息，并且可以导入培训成绩。</small>
</blockquote>
</div>

<div class="col-lg-6">
<blockquote>
    <p><i class="glyphicon glyphicon-book"></i>&nbsp;<a href="/admin/education/">继续教育管理</a></p>
    <small>您可以添加、修改、删除继续教育信息，并对用户的申请进行审核。</small>
</blockquote>
</div>

<div class="col-lg-6">
<blockquote>
    <p><i class="glyphicon glyphicon-check"></i>&nbsp;<a href="/admin/annual/">年审管理</a></p>
    <small>您可以添加、修改、删除年审信息。</small>
</blockquote>
</div>

