@using Loowoo.LandInst.Model;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section nav{
    @{
        Institution inst = ViewBag.CurrentInst;
    }
    <ul class="nav navbar-nav">
        @if (inst.Status == InstitutionStatus.Normal)
        {
        }
        else
        {
            <li><a href="/institution/">欢迎页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">业务 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/institution/annual/">机构年检年审</a></li>
                    <li><a href="/institution/education/">继续教育学时确认</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">会员 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/institution/member">会员查询</a></li>
                    <li><a href="/institution/member/transferin">会员转入申请</a></li>
                    <li><a href="/institution/member/transferout">会员转出申请</a></li>
                    <li><a href="/institution/member/transfers">会员转移记录</a></li>
                    <li><a href="/institution/member/staff">会员执业登记</a></li>
                </ul>
            </li>
@*            <li><a href="/institution/member">会员管理</a></li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/institution/profile/edit">机构资料</a></li>
                    <li><a href="/institution/shareholder/">公司股东</a></li>
                    <li><a href="/institution/certification/">资质证书</a></li>
                    <li class="/institution/divider"></li>
                    <li><a href="/institution/profile/logout">机构注销登记</a></li>
                    <li><a href="/institution/profile/history">历史信息</a></li>
                </ul>
            </li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signout">退出</a></li>
    </ul>

}

@RenderBody()