@using Loowoo.LandInst.Model;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section nav{
    @{
        Institution inst = ViewBag.CurrentInst;
    }
   <ul class="nav navbar-nav">
       @if(inst.Status == InstitutionStatus.Registered)
       {
        <li><a href="/institution/"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
        <li><a href="/institution/profile/edit"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;资料变更</a></li>
        <li><a href="/institution/profile/annualcheck"><i class="glyphicon glyphicon-check"></i>&nbsp;申请年检</a></li>
        <li><a href="/institution/profile/history"><i class="glyphicon glyphicon-time"></i>&nbsp;历史信息</a></li>
         <li><a href="/user/editpassword"><i class="glyphicon glyphicon-edit"></i>&nbsp;修改密码</a></li>
        <li><a href="/institution/profile/logout"><i class="glyphicon glyphicon-remove"></i>&nbsp;注销机构</a></li>
      }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signout">(@{
            var name = System.Threading.Thread.CurrentPrincipal.Identity.Name;
            if(name.Length>6)
            {
                <span>@(name.Substring(0,6))...</span>
            }
            else
            {
                <span>@(name)</span>
            }
            })退出</a></li>
    </ul>

}

@RenderBody()