@using Loowoo.LandInst.Model;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section nav{
    @{
        Institution inst = ViewBag.CurrentInst;
    }
   <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signout">退出</a></li>
    </ul>

}

@RenderBody()