@using Loowoo.LandInst.Model
@{
    Institution model = ViewBag.Model;
    ViewBag.Title = model.ID > 0 ? "修改机构" : "添加机构";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form id="institution-form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">机构全称</label>
        <div class="col-sm-3">
            <input type="text" name="Username" class="form-control input-sm" @(model.ID > 0 ? "disabled=disabled" : "") />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">登录密码</label>
        <div class="col-sm-3">
            <input type="text" name="password" class="form-control input-sm"  value="@(model.ID > 0 ? "" : Loowoo.LandInst.Common.StringHelper.GenerateRandomString(8))" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码提示问题</label>
        <div class="col-sm-3">
            <input type="text" name="Question" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码提示问题答案</label>
        <div class="col-sm-3">
            <input type="text" name="Answer" class="form-control input-sm" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">提交注册</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#institution-form").submit(function () {
            var data = $(this).serialize();
            $.request("/admin/institution/edit", data, function (json) {
                alert("添加成功,用户密码是" + json.data.password);
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
            return false;
        });
    });
</script>
