<html>
<head>
    <title>@(ViewBag.Title) - 浙江土地机构会员平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/content/bootstrap.min.css">
    <link rel="stylesheet" href="/content//bootstrap-theme.min.css">
    <link rel="stylesheet" href="/content/bootstrap-datepicker3.css">
    <script src="/scripts/jquery-2.1.0.min.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/bootstrap-datepicker.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
