@{
    if (Model == null)
    {
        return;
    }
    var page = Model as Loowoo.LandInst.Model.Filters.PageFilter;
    if (page.PageSize == 0)
    {
        page.PageSize = 10;
    }

    var pageCount = (page.RecordCount-1) / page.PageSize + 1;
    
    if(pageCount<2)
    {
        return;
    }
    
}

<ul class="pagination">
    <li><a href="?page=1">首页</a></li>
    @if (page.PageIndex > 1)
    { 
        <li><a href="?page=@(page.PageIndex - 1)">上一页</a></li>
    }
    <li><a href="javacript:void()">@(page.PageIndex)/@(pageCount)</a></li>
    @if (page.PageIndex < pageCount )
    { 
        <li><a href="?page=@(page.PageIndex + 1)">下一页</a></li>
    }
    <li><a href="?page=@(pageCount)">尾页</a></li>
    
</ul>
