@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "历史信息";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    IEnumerable<CheckLog> list = ViewBag.List;
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>申请类型</th>
            <th style="width: 150px;">申请时间</th>
            <th style="width: 120px;">审核结果</th>
            <th style="width: 150px;">审核时间</th>
            <th style="width: 100px">查看</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>@(item.CheckType.GetDescription())</td>
                <td>@(item.CreateTime.ToString())</td>
                <td>@if (item.Result.HasValue)
                    {
                        if (item.Result.Value)
                        { 
                    <span class="label label-success">已通过</span>
                        }
                        else
                        {
                    <span class="label label-warning">未通过</span>
                        }
                    }
                    else
                    {
                    <span class="label label-default">未审核</span>
                    }</td>
                <td>
                    @(item.UpdateTime.HasValue ? item.UpdateTime.ToString() : null)
                </td>
                <td><a href="/institution/profile/?checkLogId=@(item.ID)" class="btn btn-primary btn-xs">详细</a></td>
            </tr>
        }
    </tbody>
</table>
