@{
    ViewBag.Title = "注销登记";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
}

<form id="logout-form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">公司全称</label>
        <div class="col-sm-4">
            <input type="text" id="control-fullname" class="form-control input-sm" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-4">
            <input type="submit" value="确认注销" class="btn btn-warning" />
        </div>
    </div>
</form>

<script>

    $(function () {
        $("#logout-form").submit(function () {
            var fullName = $("#control-fullname").val();
            if (fullName) {
                if (confirm("确认注销您的机构？")) {
                    $.post("/institution/profile/logout", { FullName: fullName }, function (json) {
                        if (json.result) {
                            alert("注销申请已提交");
                        }
                    }, "json");
                }
            }
            return false;
        });
    });
</script>
