@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@RenderBody()
@section nav{
    <ul class="nav navbar-nav navbar-right">
        <li @Html.Raw(ViewBag.Action == "signin" ? "class=\"active\"" : null)><a href="/user/signin">登录</a></li>
        <li @Html.Raw(ViewBag.Action == "signup" ? "class=\"active\"" : null)><a href="/user/signup">注册</a></li>
    </ul>
}
