@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "修改密码";
    Loowoo.LandInst.Model.User user = ViewBag.User;
    Layout = "~/Areas/" + user.Role.ToString() + "/Views/Shared/_Layout.cshtml";

}
<form id="user-form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">新密码</label>
        <div class="col-sm-3">
            <input type="password" name="newPwd" class="form-control input-sm" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">确认密码</label>
        <div class="col-sm-3">
            <input type="password" name="reNewPwd" class="form-control input-sm" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>

</form>
<script>
    $(function () {
        $("#user-form").submit(function () {
            var data = $(this).serialize();
            $.post("/user/editpassword", data, function (json) {
                if (json.result) {
                    alert("保存成功");
                }
            }, "json");
            return false;
        });
    });
</script>