@{
    ViewBag.Title = "SignIn";
}

<div class="container">
    <form id="signin-form" class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="login_form form-default">
            <p>
                <label>用户名：</label><input type="text" name="username" class="form-control" placeholder="用户名" />
            </p>
            <p>
                <label>密码：</label><input type="password" name="password" class="form-control" placeholder="密码" />
            </p>
            <p>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录" />
            </p>
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#signin-form").submit(function () {
            var data = $(this).serialize();
            $.post("/user/signin", data, function (json) {
                if (json.result) {
                    window.location.href = "/user/";
                } else {
                    
                }
            },"json");
            return false;
        });
    });
</script>
