@{
    ViewBag.Title = "登录";
    Layout = "_layout.cshtml";
}
<form id="signin-form" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">用户名</label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">密码</label>
        <div class="col-lg-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <input type="submit" id="btn-submit" value="登录" class="btn btn-primary" />
            <a href="/user/ForgetPwd" class="btn btn-link">忘记密码？</a>
@*            <a href="/user/signup" class="btn btn-link">注册新用户</a>*@
        </div>
    </div>
</form>
<script>
    $(function () {
        var btn = $("#btn-submit");
        $("#signin-form").submit(function () {
            btn.val("正在登录");
            btn.attr("disabled", true);
            var data = $(this).serialize();
            $.request("/user/signin", data, function (json) {
                var redirectUrl = "/member/";
                switch (json.data.role) {
                    case "member":
                        redirectUrl = "/member/";
                        break;
                    case "institution":
                        redirectUrl = "/institution/";
                        break;
                    case "admin":
                        redirectUrl = "/admin/";
                        break;
                }
                window.location.href = redirectUrl;
            }, function () {
                btn.val("登录");
                btn.removeAttr("disabled");
            });
            return false;
        });
    });
</script>
