@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">浙江土地机构管理平台</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/institution/">欢迎页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">业务 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="editprofile">机构注册登记</a></li>
                    <li><a href="updateprofile">机构变更登记</a></li>
                    <li><a href="signout">机构注销登记</a></li>
                    <li class="divider"></li>
                    <li><a href="annualcheck">机构年检年审</a></li>
                    <li><a href="education">继续教育学时确认</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="members">人员列表</a></li>
                    <li><a href="changemember">人员转移</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="profile">机构资料</a></li>
                    <li><a href="history">历史信息</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <li><a href="/user/signout">退出</a></li>
       </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</div>

